{
    "root": true,
    "extends": [
        "@nuxtjs/eslint-config-typescript"
    ],
    "rules": {
        "no-tabs": [
            "error",
            {
                "allowIndentationTabs": true
            }
        ]
    }
}